body {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fefefe;
    color: #111111;
    transition: background-color 0.2s ease, color 0.2s ease;
}

h1,
h2 {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

section {
    margin: 0;
}

section:last-of-type {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: inherit;
}

.content-block {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 4px;
}

main {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 110px;
    background: rgba(255, 255, 255, 0.8);
}

/* Apply dark mode styles if user has enabled it */
@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #121212;
    }

    header {
        background: rgba(18, 18, 18, 0.8);
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    .content-block {
        max-width: 100%;
        padding: 1em;
    }

    main {
        padding-top: 80px;
    }

    header {
        height: 100px;
    }
}